
/* Police d'écriture + background + Titre */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

*
{
    font-family: 'Source Sans Pro', sans-serif;
}

body
{
    background: cornflowerblue ;
    padding: 10px;
    min-height: 100vh;
    margin: 0;
}

.contour
{

    margin: 100px auto ;
    width: 1000px;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    border-radius: 2rem ;
    box-shadow: 0 0 10px;
    color: whitesmoke;
    text-align: center;
    font-size: 80px;
    padding-bottom: 8px;
}
/* ------------------------------ */


/* Menu */
.flexbox
{
    display: flex;
    margin: auto;
    height: 70px;
    width: 1000px;
    background-color: rgba(252, 255, 253, 0.3);
    border-radius:30px;
    font-size: 21px;

}

.item
{
    margin: auto;
    text-align: center;
    color : white;
    letter-spacing: 0.1rem;
    text-decoration: none;
}



.item:hover
{
    color: black;
    text-decoration: none;
}
/* ------------------------------ */


/* Accueil */
.boxACL1
{

    width: 1000px;
    height: 30px;
    font-size: 40px;
    position: absolute;
    top: 200px;
    left: 448px;
    animation: boxACL1 2s;
    padding-bottom: 95px;
    padding-top: 15px;

}
@keyframes boxACL1
{
    from {top: 740px;}
    to  {top: 200px;}
}


.boxACL2 {

    padding: 25px 25px;
    width: 700px;
    text-align: center;
    position: absolute;
    top: 450px;
    left: 570px;
    animation-delay: 2s;
    animation: boxACL2 2s;
    background-color: rgba(56, 56, 56, 0.5);


}
.boxACL2
{

}
@keyframes boxACL2
{
    from {top: 950px;}
    to  {top: 450px;}
}

.boxSousParagrapheACL
{
    color: whitesmoke;
    font-size: 30px;
    border-radius: 2rem;
    margin: auto;
    text-align: justify;
}


.boxSousTitreACL
{
    font-size: 90px;
    text-align: center;
    color: black;
}

.boxSousTitreACL:hover
{
    color: white;
    background-color:rgba(56, 56, 56, 0.5);
    border-radius: 2rem;
}

.boxSousParagrapheACL:hover
{
    transition-duration: 0.5s;
    scale: 105% ;
    background-color: rgba(252, 255, 253, 0.3);
    color: black;
}

.PartieAccueil
{
    color: white;

}




 /*------------------------------*/


 /* Projet & CV */
.bouton{
    display: flex;
    padding: 0;
    justify-content: space-between;
    margin-left: 312px;
    margin-right: 312px;
}

.bouton ul{
    display: inline;
}

.bouton li{
    list-style-type: none;
}

.bouton a{
    display: block;
    min-width: 150px;
    font-size: 25px;
    margin: 0.5rem;
    text-align: center;
    background-color: rgba(147,112,219, 0.55);
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 2rem;
    padding: 10px;
    transition: all 250ms;
}

.bouton a:hover
{
    color:black;
    text-decoration: none;
    background-color: plum;

}

.texte
{
    color: ghostwhite;
    font-size: 23px;
    display: flex;
    justify-content: space-around;


}

.bloc
{
    position: relative;
    height: auto;
    width: 500px;
    border-radius: 2rem;
    padding: 10px 20px;
    background-color: rgba(252, 255, 253, 0.3);

}

.PartieGras
{
    font-weight: bold;

}
.boutonPROJET:hover
{
    transition-duration: 0.5s;
    scale: 107% ;
}

.boutonCVetCERTIFICAT:hover
{
    transition-duration: 0.5s;
    scale: 107% ;
}
/* ------------------------------ */


/* Veille Technologique */

.boxVT
{
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    border-radius: 2rem;
    width: 300px;
    background-color: rgba(252, 255, 253, 0.3);
    margin: 150px auto ;
}

.boxVT:hover
{
    background-color: rgba(56, 56, 56, 0.5);
}
/* ------------------------------ */


/* Experience */

.SousExp
{
    color: whitesmoke;
    border-radius: 2rem;
    background-color: rgba(56, 56, 56, 0.5);
    padding: 15px 15px;
    width: 830px;
    text-align: center;
    font-size: 30px;
    margin: 100px auto;

}


.SousExp:hover
{
    transition-duration: 0.5s;
    scale: 105% ;
    background-color: rgba(252, 255, 253, 0.3);
    color: black;
}


.boxExp1
{

    width: 200px;
    height: 10px;
    animation: boxExp1 2s;
    position: absolute;
    top: 550px;
    left: 420px;
    padding-bottom: 45px;
    padding-top: 5px;

}
@keyframes boxExp1
{
    from {top: 840px;}
    to  {top: 550px;}
}


.boxExp2 {

    padding: 15px 25px;
    width: 600px;
    position: absolute;
    top: 650px;
    left: 200px;
    animation: boxExp2 2s;

}
.boxExp2
{

}
@keyframes boxExp2
{
    from {top: 940px;}
    to  {top: 650px;}
}


.boxExp3
{

    width: 380px;
    height: 30px;
    margin: auto;
    position: absolute;
    top: 900px;
    right: 390px;
    padding-bottom: 35px;
    padding-top: 15px;
    animation: boxExp3 2s;
}
@keyframes boxExp3
{
    from {top: 1100px;}
    to  {top: 900px;}
}


.boxExp4 {
    padding: 25px;
    width: 600px;
    position: absolute;
    top: 1000px;
    right: 250px;
    animation: boxExp4 2s;

}
.boxExp4
{

}
@keyframes boxExp4
{
    from {top: 1200px;}
    to  {top: 1000px;}
}

.boxSousParagrapheExp{

    color: whitesmoke;
    font-size: 30px;
    background-color: rgba(56, 56, 56, 0.5);
    border-radius: 2rem;
    margin: auto;
    text-align: justify;

}

.boxSousTitreExp
{
    font-size: 40px;
    text-align: center;

}

.boxSousParagrapheExp:hover
{
    transition-duration: 0.5s;
    scale: 105% ;
    background-color: rgba(252, 255, 253, 0.3);
    color: black;
)
}

.gras
{
    font-weight: bold;
}
/* ------------------------------ */


/* A Propos */
.apropos
{
    color: whitesmoke;
    text-align: center;
    font-size: 80px;
    margin-top: 80px;

}

.contour
{

    margin: 100px auto ;
    width: 1000px;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    border-radius: 2rem ;
    box-shadow: 0 0 10px;
}



.boxAP1
{

    width: 300px;
    height: 30px;
    position: absolute;
    top: 450px;
    left: 375px;
    animation: boxAP1 2s;
    padding-bottom: 35px;
    padding-top: 15px;

}
@keyframes boxAP1
{
    from {top: 740px;}
    to  {top: 450px;}
}


.boxAP2 {

    padding: 25px 25px;
    width: 600px;
    position: absolute;
    top: 550px;
    left: 200px;
    animation-delay: 2s;
    animation: boxAP2 2s;

}
.boxAP2
{

}
@keyframes boxAP2
{
    from {top: 840px;}
    to  {top: 550px;}
}


.boxAP3
{

    width: 350px;
    height: 50px;
    position: absolute;
    top: 800px;
    right: 390px;
    animation: boxAP3 2s;
    padding-bottom: 15px;
    padding-top: 15px;

}
@keyframes boxAP3
{
    from {top: 1100px;}
    to  {top: 800px;}
}


.boxAP4 {

    padding: 25px 25px;
    width: 600px;
    position: absolute;
    top: 900px;
    right: 250px;
    animation-delay: 2s;
    animation: boxAP4 2s;

}
.boxAP4
{

}
@keyframes boxAP4
{
    from {top: 1200px;}
    to  {top: 900px;}
}


.boxSousParagrapheAP
{
    color: whitesmoke;
    font-size: 30px;
    background-color: rgba(56, 56, 56, 0.5);
    border-radius: 2rem;
    margin: auto;
    text-align: justify;
}


.boxSousTitreAP
{
    font-size: 40px;
    text-align: center;

}


.boxSousParagrapheAP:hover
{
    transition-duration: 0.5s;
    scale: 105% ;
    background-color: rgba(252, 255, 253, 0.3);
    color: black;
}
/* ------------------------------ */


/* Projet */
.boxPJT
{
    color: whitesmoke;
    text-align: center;
    font-size: 30px;
    border-radius: 2rem;
    width: 300px;
    background-color: rgba(252, 255, 253, 0.3);
    margin: 150px auto ;
}

.boxPJT:hover
{
    background-color: rgba(229,56,84, 0.3);
}
/* ------------------------------ */


/* CV et Certificat */
body
{
    background: cornflowerblue ;
    background-size: cover;
}




.base
{
    margin : auto;
}


.base a:hover
{
    color:black;
    text-decoration: none;
    background-color: black;

}

.boutonCV, .boutonCMA, .boutonCMN1, .boutonCMN2, .boutonCMN3, .boutonCMN4, .boutonCMN5
{

    font-size: 27px;
    text-align: center;
    border : none;
    color: black;
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 0 25px black;
    width: 250px;
    height: 350px;
    background-size: cover;
}

.part1, .part2, .part3
{
    margin-top: 400px;
}

.boutonCMA,.boutonCMN1, .boutonCMN2, .boutonCMN3, .boutonCMN4, .boutonCMN5
{
    background: url("../Image/Certificat-Image.png");
    background-size: cover;
}

.boutonCV
{
    background: url("../Image/CV-Image.png");
    background-size: cover;
}

.boutonCV, .boutonCMN2, .boutonCMN5
{
    position: relative;
    margin: 150px 150px auto;
}

.boutonCMA, .boutonCMN3
{
    position: relative;
    margin: 150px 200px auto;
}

.boutonCMN1, .boutonCMN4
{
    position: relative;
    margin: 150px 162px auto;
}



.boutonCV:hover
{
    transition-duration: 0.5s;
    scale: 107% ;
}

.boutonCMA:hover
{
    transition-duration: 0.5s;
    scale: 107% ;
}

.boutonCMN1:hover
{
    transition-duration: 0.5s;
    scale: 107% ;
}

.boutonCMN2:hover
{
    transition-duration: 0.5s;
    scale: 107% ;
}

.boutonCMN3:hover
{
    transition-duration: 0.5s;
    scale: 107% ;
}
.boutonCMN4:hover
{
    transition-duration: 0.5s;
    scale: 107% ;
}

.boutonCMN5:hover
{
    transition-duration: 0.5s;
    scale: 107% ;
}
/* ------------------------------ */


/* Footer */
footer{
    position: absolute;
    top: 2500px;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 1902px;
    padding-top: 40px;
    color: white;

}
.footer-haut{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
}
.footer-haut h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-haut p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 20px;
}


.footer-bas{
    background: #000;
    width: 1902px;
    padding: 20px 0;
    text-align: center;
}
.footer-bas p{
    font-size: 14px;
    word-spacing: 2px;

}
.footer-bas span{
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}

.mail
{
    text-decoration: none;
    color: white;
}

.mail:hover
{
    text-decoration: none;
    color: darkslateblue;
}

.tel:hover
{
    text-decoration: none;
    color: darkslateblue;
}
/* ------------------------------ */


